body 
{
  color: #111;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12pt;
}
dt {
  font-weight: bold;
  margin-top: 8pt;
  margin-bottom: 8pt;
  margin-left: 15pt;
}
dd {
  margin-left: 25pt;
}
pre {
  color: blue;
}